.manropeRegular {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.topMenu {
    height: 72px;
    margin: 18px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-content: space-between;
}
@media (max-width: 1360px) {
    .topMenu {
        height: 144px;
        margin: 18px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 70px;
        opacity: 1;
        display: flex;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        justify-content: space-between;
    }
    .menuButtonContainer {
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 40px;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }
    .doctorProfileContainer {
        height: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-top: 17px;
        align-content: flex-start;
        right: 32px;
        margin-right: 32px;
    }
}
@media (max-width: 800px) {
    .topMenu {
        height: 288px;
        margin: 18px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 70px;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        justify-content: space-between;
    }
    .menuButtonContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        padding-top: 100px;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }
    .doctorProfileContainer {
        height: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-left: 30px;
        align-content: flex-start;
        right: 32px;
        margin-right: 32px;
    }
}
@media (max-width: 587px) {
    .topMenu {
        height: 292px;
        margin: 18px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 70px;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        justify-content: space-between;
    }
    .menuButtonContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        padding-top: 160px;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }
    .doctorProfileContainer {
        height: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-left: 30px;
        align-content: flex-start;
        right: 32px;
        margin-right: 32px;
    }
}
@media (max-width: 310px) {
    .techCareLogo {
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 32px;
        height: 48px;
    }
    .topMenu {
        height: 450px;
        margin: 18px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 70px;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        justify-content: space-between;
    }
    .menuButtonContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        padding-top: 160px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        width: 50px;
    }
    .doctorProfileContainer {
        height: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-left: 30px;
        align-content: flex-start;
        right: 32px;
        margin-right: 32px;
    }
}

.greyBackground {
    position: relative;
    width: 100%;
    height: 100%;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 100px;
}
.techCareLogo {
    position: relative;
    top: 12px;
    bottom: 12px;
    left: 32px;
    height: 48px;
}
.menuButtonContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.topMenuButton {
    height: 41px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 41px;
    border-width: 0;
    opacity: 1;
    margin: 0 8px 0 8px;
}
.topMenuButton:hover {
    transition: 0.2s;
    background-color: #F6F7F8;
}
.topMenuButtonVisited {
    transition: 0.5s;
    background-color: #01F0D0;
}
.topMenuButtonVisited:hover {
    background-color: #01F0D0;
}
.menuButtonIcon {
    position: relative;
    height: 17px;
    margin: 12px 9px 12px 10px;
}
.menuButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    padding-right: 16px;
}
.doctorProfileContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 32px;
    margin-right: 32px;
}
.doctorTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8px;
    border-right: 1px solid #EDEDED ;
    padding-right: 12px;
}
.doctorName {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #072635;
}
.doctorOccupation {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: #707070;
}
.gearIcon {
    margin: 0 12px 0 12px;
}
.doctorButton {
    border: none;
    background: transparent;
    border-radius: 100%;
    padding: 5px;
}
.doctorButton:hover {
    background-color: black;
}
.dashboardInfoContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    column-gap: 33px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 33px;
}
.patientsContainer {
    width: 23vw;
    height: 1054px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.historyContainer {
    width: 48vw;
    height: 673px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.patientInfoContainer {
    position: relative;
    width: 100%;
    height: 740px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dashboardInfoContainer h1 {
    padding: 20px 0 0 20px;
    font-family: "Manrope", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #072635;
}
.bloodPressureContainer {
    background-color: #F4F0FE;
    margin: 40px 20px 0 20px;
    width: calc(100% - 40px);
    height: 44%;
    border-radius: 12px;
}

.bloodPressure {
    flex: 2;
    position: relative;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    color: #072635;
    padding: 16px 0 0 16px;
}
.selectedTime {
    flex: 2;
    position: relative;
    left: 48%;
    display: inline-block;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    color: #072635;
}
.selectedTimeDropdown {
    left: 48%;
    position: relative;
    display: inline-block;
    height: 6px;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    top: 22px;
    left: -70px;
    z-index: 1;
    text-align: center;

}
.dropdownContent > p {
    padding: 6px;
    margin: 0;
    border-radius: 10px;
}
.selectedTimeDropdown:hover .dropdownContent {
    transition: 0.5s;
    display: block;
}
.dropdownContent p:hover {
    background-color: #F6F7F8;
}

.respiratoryContainer {
    display: inline-block;
    margin: 20px 10px 20px 20px;
    height: 36%;
    width: 30%;
    background-color: #E0F3FA;
    border-radius: 12px;

}
.tempContainer {
    display: inline-block;
    margin: 20px 10px 20px 10px;
    height: 36%;
    width: 30%;
    background-color: #FFE6E9 ;
    border-radius: 12px;
}
.heartContainer {
    display: inline-block;
    margin: 20px 20px 20px 10px;
    height: 36%;
    width: 30%;
    background-color: #FFE6F1 ;
    border-radius: 12px;
}
@media (max-width: 1840px) {
    .respiratoryContainer {
        display: inline-block;
        top: 0;
        margin: 20px 10px 20px 20px;
        height: 36%;
        width: 27%;
        background-color: #E0F3FA;
        border-radius: 12px;

    }
    .tempContainer {
        display: inline-block;
        top: 0;
        margin: 20px 10px 20px 10px;
        height: 36%;
        width: 27%;
        background-color: #FFE6E9 ;
        border-radius: 12px;
    }
    .heartContainer {
        display: inline-block;
        top: 0;
        margin: 20px 20px 20px 10px;
        height: 36%;
        width: 27%;
        background-color: #FFE6F1 ;
        border-radius: 12px;
    }
    .selectedTime, .selectedTimeDropdown {
        left: 30%;
    }
}
.canvasGraph {
    position: relative;
    height: 80%;
    width: 100%;
    padding: 0 16px 16px 16px;
}
#myChart {
    width: 100%;
    height: auto;
}
.bpInfo {
    position: relative;
}
#systolicIcon {
    background: #E66FD2;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 20px 0 4px 0;
}
#diastolicIcon {
    background: #8C6FE6;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 0 4px 0;
}
.textSystolic {
    position: relative;
    top: -6px;
    display: inline-block;
    font: 14px "Manrope", sans-serif;
    font-weight: bold;
    margin-bottom: 4px;
}
#systolicAmount {
    padding-top: 8px;
    font: 22px "Manrope", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
.averageSystolic {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-top: 16px;
    margin-bottom: 20px;
    font: 14px "Manrope", sans-serif;
}
.textDiastolic {
    position: relative;
    top: -6px;
    display: inline-block;
    font: 14px "Manrope", sans-serif;
    font-weight: bold;
    margin-bottom: 4px;
}
#diastolicAmount {
    padding-top: 8px;
    font: 22px "Manrope", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
.systolicBorder {
    border-bottom: 1px solid #CBC8D4;
}
.averageDiastolic {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-top: 16px;
    font: 14px "Manrope", sans-serif;
}
.respiratoryContainer > p {
    margin: 0;
}
.tempContainer > p {
    margin: 0;
}
.heartContainer > p{
    margin: 0;
}
.respiratoryTitle {
    padding: 0 0 0 16px;
    font: 16px "Manrope", sans-serif;

}
.respiratoryAmount {
    font: 30px "Manrope", sans-serif;
    font-weight: bolder;
    padding: 0 0 0 16px;
}
.averageRespiratory {
    padding: 16px 0 0 16px;
    font: 14px "Manrope", sans-serif;
}
.temperatureTitle {
    padding: 0 0 0 16px;
    font: 16px "Manrope", sans-serif;
}
.temperatureAmount {
    word-wrap: break-word;
    padding: 0 0 0 16px;
    font: 30px "Manrope", sans-serif;
    font-weight: bolder;
}
.averageTemp {
    padding: 16px 0 0 16px;
    font: 14px "Manrope", sans-serif;

}
.heartTitle {
    padding: 0 0 0 16px;
    font: 16px "Manrope", sans-serif;
}
.heartAmount {
    padding: 0 0 0 16px;
    font: 30px "Manrope", sans-serif;
    font-weight: bolder;
}
.averageHeart {
    padding: 16px 0 0 16px;
    font: 14px "Manrope", sans-serif;
}
.custom-scrollbar-js,
.custom-scrollbar-css {
    height: 200px;
}
.custom-scrollbar-css {
    overflow-y: scroll;
    height: 90%;
    margin: 5px;
}
.custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: #E3E4E6;
}
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #072635;
}
.profileCard {
    display: flex;
    width: 97%;
    margin-left: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0 10px 5px;
}
.profileCard:hover {
    transition: 0.2s;
    background-color: #F6F7F8;
}
.profileCardVisited {
    transition: 0.5s;
    background-color: #D8FCF7;
}
.profileCardVisited:hover {
    transition: 0.5s;
    background-color: #D8FCF7;
}
.profileCard div {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-top: 4px;
}
#profileName {
    font: 14px "Manrope", sans-serif;
    font-weight: bold;
    margin: 0;
    padding-bottom: 3px;
    color: #072635;
}
#profileGenderAge {
    margin: 0;
    font: 14px "Manrope", sans-serif;
    color: #707070;
}
.diagnosticContainer {
    display: flex;
    flex-direction: column;
    width: 48vw;
    height: 348px;
    background: #FFFFFF no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.labContainer {
    margin-top: 32px;
    width: 22vw;
    height: 281px;
    background: #FFFFFF no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 1672px) {
    .labContainer {
        width: 21vw;
    }
}
@media (max-width: 1465px) {
    .labContainer {
        width: 18vw;
    }
}
.tableHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    background-color: #F6F7F8;
    margin: 40px 20px 0px 20px;
    height: 48px;
    width: calc(100% - 40px);
}
.tableHeader p {
    left: -50px;
    position: relative;
    margin: 0;
    font: 14px "Manrope", sans-serif;
    font-weight: bold;
    color: #072635;
}

.diagnosisItem {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid #F6F7F8;
    width: 97%;
    border-radius: 10px;
    padding: 10px 0 10px 5px;
}
.diagnosisItem p {
    font: 14px "Manrope", sans-serif;
    margin: 0;
    width: 380px;
    word-break: break-word;
    color: #072635;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 48vw;
}
.rightColumn {
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 23vw;
}
.infoVert {
    display: flex;
    flex-direction: column;
}
.infoHoriz {
    display: flex;
}
.infoProfile {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infoProfile img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    image-rendering: auto;
}
.infoProfile h1 {
    padding: 24px 0 0 0;
    margin: 0;
}
.infoVert {
    margin-left: 20px;
}
.infoVert img {
    width: 42px;
    height: 42px;
    margin-bottom: 28px;
}
.infoVert p {
    font: 14px "Manrope", sans-serif;
    color: #072635;
    padding: 0;
    margin: 0 0 0 10px;
}
.infoText {
    margin-top: 1px;
    font-weight: bold !important;
}
.showAllInfo {
    display: flex;
    background: #01F0D0;
    border-radius: 41px;
    width: 220px;
    height: 42px;
    justify-content: center;
    align-items: center;

}
.showAllInfo p {
    font-weight: bold;
}
.showAllInfo:hover {
    transition: 0.2s;
    background: #F6F7F8;
}
.resultsItem {
    display: flex;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.resultsItem:hover {
    transition: 0.2s;
    background: #F6F7F8;
}
.resultsItem img {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 10px 0 0;
}
.resultsItem p {
    font: 14px "Manrope", sans-serif;
    color: #072635;
    padding: 0;
    margin: 0 0 0 10px;
}
.labScroll {
    margin: 16px 22px 0px 22px !important;
    height: 200px;
}